html {
    font-family: 'Helvetica';
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header{
    top:0%;
    left:0%;
    position:fixed;
    z-index: 1;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    align-items: center;
    font-size: 1rem;
    background-color: black;


}

.content{
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#logo{
    height: 50px;
    width:auto;

}

header ul{
    display: flex;

}

header li{
    display: block;
    padding-left: 1.5rem;
}


header a{
    color:seashell;
    text-decoration: underline;
}


.banner{

  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  top:69px;
  height: 700px;

  background-image: url('../img-mission-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;

  margin:0 50px;

}

.introduction-box{

    width:1200px;
    border: 0;
    line-height: 2rem;
    background-color: black;

}


.tea-of-the-month{

    padding-top: 120px;
    line-height: 2rem;

}

.products{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

}


.products img{
    height: 200px;
    width: 300px;
}




.products {
    border: 10px;
}


.locations-container{

    top:69px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height:500px;
    padding:100px 50px 0px 50px;
    background-image: url('../img-locations-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

/* .locations h2{
    padding-top: -69px;
    margin: 0 auto;
} */

.adress{


    display: flex;
    justify-content:center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* flex-shrink: 2; */

}

.adress .one, .adress .two, .adress .three{
    height:300px;
    width:300px;
    padding-top:15px;
    background-color:black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact{
    height:200px;
    background-color:black;

}

.contact h2{
    line-height: 2;
}

.contact h5{
    line-height: 3;
}

footer{

    padding-left:20px;
    justify-items: left;

}

footer h5{
    text-align: left;

}